<?PHP
	
define ("DBHOST", "localhost"); 
	
define ("DBNAME", "wottop_site");
	
define ("DBUSER", "wottop_usr");
	
define ("DBPASS", "CHANGE_ME");  
	
define ("PREFIX", "dle");
	
define ("USERPREFIX", "dle");
	
define ("COLLATE", "utf8mb4");
	
define('SECURE_AUTH_KEY', 'CHANGE_ME');
	
$db = new db;
	
?>
